@{
    ViewBag.Title = "Formularz Wydruku";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>Imię:</th>
        <td>@Model.Imie</td>
    </tr>
    <tr>
        <th>Nazwisko:</th>
        <td>@Model.Nazwisko</td>
    </tr>
    <tr>
        <th>Data:</th>
        <td>@Model.Data.ToString("yyyy-MM-dd")</td>
    </tr>
    <!-- Dodaj pozostałe pola, np. NazwaZajec, NumerZestawu, itp. -->

    <tr>
        <th>Zadania</th>
        <td>
            <table class="table table-bordered">
                <tr>
                    <th>Numer</th>
                    <th>Punkty</th>
                </tr>
                @for (int i = 0; i < Model.Zadania.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model.Zadania[i].Punkty</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
